body {
  background: #f0f0f0;
}
.container {
  width: 75%;
  margin-left: 392px;
}
.navbar {
  margin-bottom: 0;
}
.left {
  position: fixed;
  width: 392px;
  height: 100%;
  background-color: #fff;
}
.left ul li {
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-size: 20px;
  color: #696969;
  font-weight: 500;
  cursor: pointer;
}
.left ul li a {
  display: inline-block;
  padding-left: 90px;
  width: 100%;
  height: 100%;
}
.left ul li a.active {
  background: #f6f6f6;
  color: #fe5c67;
}
a:link {
  text-decoration: none;
  }
